/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color:oklch(95% 0.02 90) ;
  /* background: oklch(30% 0.13 30); */
  background: oklch(13.35% 0.041 45.95);
}

.journey {
  background: linear-gradient(225deg, #140300, #291307, #402816, #563e27, #6e5539, #856e4d, #9d8861, #b4a478, #cbc08f);
}

@layer utilities {
  .img-block {
    aspect-ratio: 2/1;
  }
}